.paginate-button {
	margin-left: 0.2rem;
	padding: 0.5rem 1rem;
	border: 1px solid transparent;
	background-color: transparent;
	color: #333;
	font-size: 100%;
	cursor: pointer;
	&:hover {
		border: 1px solid #111;
		background: linear-gradient(to bottom, #585858 0%, #111 100%);
		color: white;
	}
	&.disabled,
	&.disabled:hover,
	&.disabled:active {
		border: 1px solid transparent;
		background: transparent;
		color: #666;
		cursor: default;
	}
	&.current-page,
	&.current-page:hover {
		border: 1px solid #979797;
		background: linear-gradient(to bottom, #fff 0%, #dcdcdc 100%);
		color: #333;
	}
}
