@import "../../variables.scss";

.data-tables {
	&-wrapper {
		width: 100%;
		text-align: center;
		.only-mobile {
			@include tablet-breakpoint {
				display: none;
			}
		}
		& > div {
			margin-bottom: 0.5em;
		}
	}
	&-length {
		@include tablet-breakpoint {
			float: left;
		}
	}
	&-search {
		&-wrapper {
			@include tablet-breakpoint {
				float: right;
			}
			input {
				margin-left: 0.5em;
			}
		}
	}
	&-select {
		&-label {
			visibility: hidden;
		}
	}
	&-info {
		padding-top: 0.8em;
		@include tablet-breakpoint {
			float: left;
		}
	}
	&-paginate {
		padding-top: 0.25em;
		@include tablet-breakpoint {
			text-align: right;
		}
	}
	&-empty {
		text-align: center;
	}
}

.data-table {
	width: 100%;
	@include tablet-breakpoint {
		clear: both;
		border-bottom: 1px solid #111;
		border-spacing: 0;
	}

	caption {
		font-size: 1.3em;
	}

	thead {
		display: none;
		@include tablet-breakpoint {
			display: table-header-group;
			.sorting,
			.sorting-asc,
			.sorting-desc,
			.sorting-asc-disabled,
			.sorting-desc-disabled {
				background-position: center right;
				background-repeat: no-repeat;
				cursor: pointer;
				user-select: none;
			}
			th,
			td {
				padding: 0.625rem 1rem;
				border-bottom: 1px solid #111;
				vertical-align: middle;
			}
			img {
				vertical-align: middle;
			}
		}
	}
	tbody {
		tr {
			display: block;
			margin-bottom: 1rem;
			border: 1px solid black;
			@include tablet-breakpoint {
				display: table-row;
				background-color: #ffffff;
				&.odd {
					background-color: #f9f9f9;
				}
				&:first-child th,
				&:first-child td {
					border-top: none;
				}
			}
		}

		td {
			display: block;
			padding: 0.5rem 0.625rem;
			border-bottom: 1px solid #ddd;
			text-align: right;
			@include tablet-breakpoint {
				display: table-cell;
				border: 0;
				text-align: center;
			}
		}

		td::before {
			float: left;
			font-weight: bold;
			text-transform: uppercase;
			content: attr(data-label);
			@include tablet-breakpoint {
				content: "";
			}
		}

		td:last-child {
			border-bottom: 0;
		}
	}
}

.data-table.hover tbody tr:hover,
.data-table tbody tr:hover {
	background-color: #f6f6f6;
}

.data-table tbody tr.even > .sorting-1 {
	background-color: #fafafa;
}

.data-table tbody tr > .sorting-1 {
	background-color: #f1f1f1;
}
